---
export interface Props {
  title: string;
  icon: string;
  description: string;
}

const { title, icon, description } = Astro.props;
---

<div class="group relative bg-background-secondary border border-border rounded-xl p-6 transition-all hover:-translate-y-1 hover:border-primary/30 hover:shadow-feature dark:hover:shadow-feature-dark">
  <div class="absolute inset-0 rounded-xl bg-[radial-gradient(200px_circle_at_var(--x)_var(--y),rgba(100,108,255,0.1)] opacity-0 group-hover:opacity-100"
       style="--x: 50%; --y: 30%" />

  <div class="relative flex flex-col items-start gap-3">
      <div class="text-3xl text-primary bg-gradient-to-br from-primary/20 via-primary/10 to-transparent p-3
                rounded-lg shadow-inner w-max transition-all duration-300 group-hover:scale-110">
      {icon}
    </div>

    <h3 class="text-lg font-semibold text-text-primary mb-2 bg-gradient-to-b from-primary/80 to-primary bg-clip-text text-transparent">
      {title}
    </h3>

   <p class="text-text-secondary/80 text-sm leading-relaxed tracking-tight">
      {description}
    </p>
  </div>
</div>