---
export interface Props {
  title: string;
  icon: string;
  description: string;
}

const { title, icon, description } = Astro.props;
---

<div class="feature">
  <div class="feature-icon">{icon}</div>
  <h3 class="feature-title">{title}</h3>
  <p class="feature-description">{description}</p>
</div>
